---
- name: Set zlib package
  ansible.builtin.set_fact:
    zlib_pkg: "{{ (ansible_facts['os_family'] | lower == 'redhat') | ternary('zlib-devel', 'zlib1g-dev') }}"

- name: Install dependencies
  ansible.builtin.package:
    name:
      - gcc
      - make
      - perl
      - "{{ zlib_pkg }}"
    update_cache: true
    state: present

- name: Create temporary build directory
  ansible.builtin.tempfile:
    state: directory
    suffix: build
  register: tmp_dir

- name: Download OpenSSL
  ansible.builtin.get_url:
    url: "{{ download_url }}"
    dest: "{{ tmp_dir.path }}/openssl-{{ openssl_version }}.tar.gz"
    owner: root
    group: root
    mode: '0644'
  register: openssl_source

- name: Unpacking OpenSSL
  ansible.builtin.unarchive:
    copy: false
    dest: "{{ tmp_dir.path }}"
    src: "{{ openssl_source.dest }}"

- name: Set build_dir
  ansible.builtin.set_fact:
    build_dir: "{{ tmp_dir.path }}/openssl-{{ openssl_version }}"

- name: Configure OpenSSL
  ansible.builtin.command: >
    ./Configure
    --prefix=/usr
    --libdir=/usr/lib/x86_64-linux-gnu
    --openssldir=/etc/ssl
    shared zlib enable-md2
  args:
    chdir: "{{ build_dir }}"
    creates: "{{ build_dir }}/Makefile"

- name: Make OpenSSL
  ansible.builtin.shell: make -j$(nproc)
  args:
    chdir: "{{ build_dir }}"
    creates: "{{ build_dir }}/libssl.so"

- name: Install OpenSSL
  ansible.builtin.command: make install
  args:
    chdir: "{{ build_dir }}"

- name: Setup ldconfig
  ansible.builtin.lineinfile:
    path: /etc/ld.so.conf.d/openssl.conf
    line: /usr/lib64
    owner: root
    group: root
    mode: '0644'
    create: true

- name: ldconfig
  ansible.builtin.command: ldconfig

- name: Delete temporary directory
  ansible.builtin.file:
    path: "{{ tmp_dir.path }}"
    state: absent
