---
- name: Get current openssl version
  ansible.builtin.shell: openssl version | cut -f2 -d' '
  # ansible.builtin.shell: "openssl version | awk '{print $2}'"
  register: current_version
  changed_when: false

- name: Check if OpenSSL is already installed
  ansible.builtin.debug:
    msg: "Current OpenSSL version is {{ current_version.stdout }}"

- name: Proceed to install OpenSSL
  when: current_version.stdout != openssl_ver
  ansible.builtin.include_tasks: install.yml
